.App-header nav {
  background: #fc660f;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.App-header nav a {
  color: #fff;
  font-weight: bold;
  padding: 12px 0px;
}

.App-header {
  margin-bottom: 20px;
}
